.ml48 {
    margin-left: 160px;
}

.mr48 {
    margin-right: 160px;
}

.align-center {
    justify-content: center;
}

/* Begin: Header */

.header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 100px;

}

.header__control {
    display: flex;
    justify-content: space-between;
}

.header .header__1 {
    list-style: none;
    margin: 0;
    display: inline-flex;
}

.list__logo {
    display: block;
    max-height: 100px;
}

.header__img {
    max-height: 100px;
}

.list__login .header__text {
    display: inline;
    font-size: 24px;
    color: #222222;
    margin-left: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header__help {
    display: inline-block;
}

.header__help .help__text {
    color: #ee4d2d;
    font-size: 16px;
    right: 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* End: Header */

/* Begin: Container */

.img__control {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    height: 65vh;
}

.img__login {
    width: auto;
    height: 97%;
    margin-right: 50px;
}

.form__control {
    Display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 65vh;
}

.auth-form__title {
    margin: 0;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.auth-form__des {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #4A4A4A;
    margin-top: 12px;
    margin-bottom: 24px;
}

.auth-form__input {
    width: 80%;
    height: 35px;
    margin-top: 16px;
    border: 1px solid #b9bdc6;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-form__control {
    margin-top: 16px;
}

.btn__auth {
    width: 85%;
    height: 35px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: transparent;
    background-color: #FF7070;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f15b5b;
}

.auth-form__aside {
    margin-bottom: -10px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    width: 85%;
    display: flex;
    justify-content: center;
    color: #767676;
}

.auth-form__text-link {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    margin-left: 6px;

    color: #2240F5;
}

.auth-form__or {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    width: 85%;
    text-align: center;

    color: #4A4A4A;

    margin: 0;
}

.auth-form__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.auth-form__social-link {
    height: 35px;
    display: flex;
    text-decoration: none;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #4A4A4A;
    width: 83%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 5px #bdbdbd;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 0px 4px;
    position: relative;
}

.auth-form__socials-icon-fb {
    font-size: 24px;
    position: absolute;
    top: 10%;
    background-color: #fff;
    color: #1877F2;
    padding: 2px;
    border-radius: 50%;
}

.auth-form__socials-icon-gg {
    width: 5%;
    background-origin: cover;
    height: auto;
    position: absolute;
    top: 15%;
    color: #bbb;
    padding: 2px;
    border-radius: 50%;
}

.auth-form__socials-icon-ap {
    font-size: 25px;
    position: absolute;
    top: 10%;
    color: #000;
    background-color: #fff;
    padding: 2px;
    border-radius: 50%;
}

.auth-form__label {
    margin: auto;
}

/*End: Container */
/* Begin: Footer */
.footer__control-1 {
    padding: 24px 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #FCF4F4;
    margin-top: 56px;
}

.footer__title {
    text-decoration: none;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0;
}

.footer__list {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__item-link {
    text-decoration: none;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
}

.footer__item-link:hover {
    cursor: pointer;
    opacity: 0.7;
}

.footer__control-2 {
    padding: 24px 0px;
    background-color: #ADADAD;
    min-height: 170px;
}

.payment {
    position: relative;
    width: 100%;
    text-align: center;
}

.payment__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.copyright {
    text-align: center;
    margin: 160px auto 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}

/* ------------------------------------------------------------ */
/*                              Home Page */
/* ------------------------------------------------------------ */
/* Header HomePage */
.header__main {
    flex: 1;
    position: relative;

}

.header__main-shop-name {
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.header__main-search {
    position: absolute;
    left: 25%;
    margin-top: 15px;
    height: 35px;
    /* background-color: #FFEBFD33; */
    border-radius: 2px;
    width: 50%;
}

.header__main-search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    background-color: #FFEBFD33;
    border: 1px solid #CFCFCF4D;
    border-radius: 5px;
    padding: 0 16px;
}

.header__main-search-input::placeholder {
    font-size: 18px;
    color: #794646B2;
    opacity: 0.7;
}

.header__main-search-btn {
    position: absolute;
    border-radius: 5px;
    top: 0;
    width: 36px;
    left: 100%;
    border: none;
    height: 36px;
    background-color: transparent;
}

.header__main-search-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.header__main-search-btn-icon {
    font-size: 16px;
    color: #000;
    background-color: transparent;
}

.header__auth {
    position: relative;
    display: flex;
    width: 80px;
}

.header__auth-btn {
    border: none;
    background-color: #fff;
    position: absolute;
    /* left: 0%; */
    top: 40%;
    padding: 10px;

}

.header__auth-btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.header__cart {
    position: relative;
    align-items: right;
    width: 80px;
}

.header__cart-icon {
    position: absolute;
    left: 10%;
    top: 25%;
    font-size: 24px;
    color: #000;
    padding: 20px;
}

.header__cart-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

hr {
    border: 0.5px solid #D0D0D0;
}

/* Tab Homepage */

.homepage_tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab__item {
    padding: 4px;
    margin: 0 60px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000;
}

.tab__item:hover {
    opacity: 0.7;
    cursor: pointer;
}

.active {
    color: #FF7070 !important;
}

/* Slider Homepage */

/* .slider__container {} */

.slider__img1 {
    justify-content: center;
    padding-top: 48%;
    background: url(/HCI/assets/img/slider_pic1.png) top center / cover no-repeat;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.slider__img2 {
    justify-content: center;
    padding-top: 48%;
    background: url(/HCI/assets/img/slider_pic2.png) top center / cover no-repeat;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.slider__img3 {
    justify-content: center;
    padding-top: 48%;
    background: url(/HCI/assets/img/slider_pic3.jpg) top center / cover no-repeat;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.05);
}

.slider__img1:hover,
.slider__img2:hover,
.slider__img3:hover {
    cursor: pointer;
    opacity: 0.7;
}

.slider__icon {
    margin-top: 12px;
    text-align: center;
}

.slider__icon .dot {
    height: 16px;
    width: 16px;
    margin: 0 6px;
    background-color: #D3D3D3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider__icon .dot:hover {
    opacity: 0.7;
    cursor: pointer;
}

.active_dot {
    background-color: #FF7070 !important;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

/* Best Seller Items */

.best-seller_title {
    text-align: center;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    margin-top: 30px;
}

.best-seller__control {
    margin-top: 38px;
    display: flex;
    width: 100%;
    align-items: space-between;
}

.best-seller__item {
    width: 25%;
}

.best-seller__item-img {
    width: 100%;
    border-radius: 4px;
}

.best-seller__item-img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.best-seller__item-des {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.best-seller__item-price {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 28px;
}

.best-seller__item-price .first-price {
    margin-right: 3px;
    color: #999999;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-decoration-line: line-through;
}

.best-seller__item-price .real-price {
    margin-left: 3px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}

.best-seller__item-btn {
    text-align: center;
}

.btn_view-detail {
    padding: 9px 43px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background-color: #F0F0F0;
    border: none;
}

.btn_view-detail:hover {
    cursor: pointer;
    opacity: .7;
}

/* Why choose us? */

.advantage {
    margin-top: 70px;
    display: block;
    background-color: #FCF4F4;
    padding-top: 30px;
    padding-bottom: 36px;
}

.advantage__title {
    text-align: center;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
}

.advantage__items {
    display: flex;
    margin-top: 40px;
}

.advantage__item {
    display: flex;
}

.advantage__item-icon {
    width: 70px;
    height: 70px;
    margin-left: 24px;
}

.advantage__item-des {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-left: 12px;
}

.vertical-line {
    background-color: #9F9F9F;
    height: 100%;
    float: left;
    border: 1px solid #9F9F9F;
}

/* What do you want? */

.WDYW {
    margin-top: 68px;
    margin-left: 72px;
    margin-right: 72px;
}

.WDYW__title {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
}

.WDYW__items {
    display: flex;
    margin-top: 52px;
    justify-content: space-between;
}

.WDYW_item-img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.WDYW_item-name {
    text-align: center;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
}

/* Ensurance */

.ensurance {
    margin-top: 48px;
    background-color: #F0EBE5;
    display: flex;
    width: 100%;
    position: relative;
}

.ensurance__img {
    display: flex;
    justify-content: right;
}

.ensurance__img-control {
    width: 570px;
    height: 100%;
    top: 52px;
    position: absolute;
}

.ensurance_info {
    margin-top: 88px;
    margin-bottom: 32px;
}

.ensurance_info-title {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 65px;
    margin-left: 82px;
    margin-right: 150px;
}

.ensurance_info-des {
    margin-top: 48px;
    margin-left: 114px;
    margin-right: 114px;
}

.ensurance_item {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}

.ensurance_item-icon {
    width: 30px;
    height: 30px;
}

.ensurance_item-text {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 54px;
    margin-left: 32px;
}

/* Flower Subscription */

.subscribtion {
    position: relative;
    margin-top: 100px;
    text-align: center;
    height: 440px;
    background-color: #E5EFF0;
    margin-bottom: 430px;
}

.subscription__title {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    padding-top: 68px;
}

.subscription__subtitle {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-top: 24px;
}

.subscription__detail {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin-top: 36px;
}

.subscription__item-control {
    display: flex;
    margin-top: 56px;
    justify-content: center;
}

.subscription__item {
    background-color: #fff;
    width: 18%;
    margin: 0 26px;
}

.subscription__item-img {
    width: 100px;
    height: 100px;
    margin: 24px 0;
}

.subscription__item-title {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
}

.subscription__item-des {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 30px 16px;
}

/* .subscription__background-img {
    position: absolute;
    width: 1200px;
    z-index: -1;
    margin: 0 auto;
} */

.subscription__img {
    position: absolute;
    width: 1200px;
    z-index: -1;
    top: 140px;
    left: 140px;
}